@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// (intro and email sign up background)
$Dark-Blue-intro-email: hsl(217, 28%, 15%);
// (main background)
$Dark-Blue-main-bg: hsl(218, 28%, 13%);
// (footer background)
$Dark-Blue-footer-bg: hsl(216, 53%, 9%);
// (testimonials background)
$Dark-Blue-testimonials: hsl(219, 30%, 18%);
// (inside call-to-action gradient) CTA-ACTIVE
$Cyan: hsl(176, 68%, 64%);
// (inside call-to-action gradient) CTA
$Blue: hsl(198, 60%, 50%);
// (error)
$Light-Red: hsl(0, 100%, 63%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $Dark-Blue-intro-email;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  color: white;
  background: linear-gradient(to right, $Cyan, $Blue) ;
  padding: 12px 60px;
  border: none;
  outline: none;
  border-radius: 20px;
  &:hover{
    background: $Cyan;
    cursor: pointer;
  }
}

.container{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

//Navbar & Hero Section

#header{
  .container{
    flex-direction: column;
    .navbar{
      display: flex;
      justify-content: space-between;
      margin: 3rem 0;
      .list{
        display: flex;
        li{
          a{
            color: rgb(211, 209, 209);
            margin-right: 3rem;
            &:hover{
              color: white;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
    .main{
      text-align: center;
      img{
        width: 50%;
      }
      h1{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin: 2rem auto;
        width: 50%;
      }
      p{
        color: #d3d1d1;
        width: 35%;
        margin: 1rem auto;
      }
      button{
        margin-top: .5rem;
      }
    }
  }
  .curvy{
    position: relative;
    margin-top: -10rem;
    z-index: -99;
    img{
      width: 100%;
    }
  }
  .svg-mobile{
    display: none;
  }
}

// Benefit Section

#benefit{
  background-color: $Dark-Blue-main-bg;
  margin-top: -.3rem;
  .container{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    .access{
      text-align: center;
      width: 35%;
      h2{
        color: white;
        margin-top: 1rem;
      }
      p{
        color: #d3d1d1;
        text-align: center;
        margin: .5rem auto;
        font-style: 12px;
      }
    }
    .security{
      text-align: center;
      width: 35%;
      h2{
        color: white;
        margin-top: 1rem;
      }
      p{
        color: #d3d1d1;
        text-align: center;
        margin: .5rem auto;
        font-style: 12px;
      }
    }
    .collaboration{
      text-align: center;
      width: 35%;
      h2{
        color: white;
        margin-top: 1rem;
      }
      p{
        color: #d3d1d1;
        text-align: center;
        margin: .5rem auto;
        font-style: 12px;
      }
    }
    .file{
      text-align: center;
      width: 35%;
      h2{
        color: white;
        margin-top: 1rem;
      }
      p{
        color: #d3d1d1;
        text-align: center;
        margin: .5rem auto;
        font-style: 12px;
      }
    }
  }
}

// Stay Productive
#stay-productive{
  background-color: $Dark-Blue-main-bg;
  .container{
    padding: 9rem 0;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    .illustration{
      flex: 1;
    }
    .content{
      flex: 1;
      h1{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 30px;
        width: 50%;
      }
      p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        color: #d3d1d1;
      }
      a{
        color: $Cyan;
        border-bottom: 1px solid $Cyan;
        padding: .3rem 0;
        span{
          position: relative;
          padding-left: .2rem;
          .arrow{
            position: absolute;
            top: 12%;
          }
          .arrow-hover{
            display: none;
          }
        }
        &:hover{
          color: #d3d1d1;
          border-color:#d3d1d1;
          span{
            .arrow{
              display: none;
            }
            .arrow-hover{
              display: inline-block;
              position: absolute;
              top: 12%;
            }
            }
          }
        }
      }
    }
  }


// Testimonials Section

#testimonials{
  background-color: $Dark-Blue-main-bg;
  .container{
    padding-bottom: 8rem;
    .quote{
      position: relative;
      top: -2.2rem;
      left: 3rem;
    }
    .testimonials{
      display: flex;
      gap: 2.5rem;
      z-index: 1;
      .testimonial{
        background-color: $Dark-Blue-testimonials;
        border-radius: 5px;
        padding: 40px 25px 25px;
        box-shadow: 10px 5px 1px rgba($color: #ffffff, $alpha: .01);
        p{
          color: #d3d1d1;
          font-size: 15px;
        }
        .client{
          display: flex;
          gap: .5rem;
          margin-top: 1rem;
          img{
            width: 30px;
            border-radius: 50%;
          }
          .client-infos{
            h5{
              color: white;
            }
            p{
              color: #d3d1d1;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

// Call To Action

#CTA{
  background-color: $Dark-Blue-main-bg;
  padding-bottom: 5rem;
  .container{
    justify-content: center;
    .free-access{
      position: relative;
      margin-bottom: -12rem;
      width: 70%;
      background-color: $Dark-Blue-intro-email;
      padding: 50px 60px 35px;
      text-align: center;
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: .3);
      .cta-content{
        h1{
          color: white;
          margin-bottom: 1.5rem;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 32px;
        }
        p{
          color: #d3d1d1;
          margin-bottom: 2rem;
          padding: 0 50px;
        }
      }
      .cta-form{
        form{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          input{
            display: inline;
            width: 70%;
            border: none;
            outline: none;
            border-radius: 25px;
            padding: 15px 30px;
            margin-right: 2rem;
          }
          button{
            padding: 15px 30px;
            border-radius: 25px;
          }
          #error{
            color: rgb(192, 63, 63);
            display: block;
            margin-left: 2rem;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// Footer

footer{
  background-color: $Dark-Blue-footer-bg;
  padding-top: 3rem;
  .container{
    flex-direction: column;
    padding: 9rem 0px 5rem;
    .footer-infos{
      display: flex;
      gap: 4rem;
      margin-top: 1rem;
      .address{
        width: 40%;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        img{
          width: 13px;
          height: 18px;
          margin-top: 4px;
        }
        p{
          color: #d3d1d1;
        }
      }
      .phone-email{
        width: 25%;
        .phone, .email{
          display: flex;
          gap: .8rem;
          margin-top: 1rem;
          p{
            margin-left: 1rem;
            color: #d3d1d1;
          }
        }
      }
      .about-us{
        width: 13%;
        ul{
          li{
            a{
              color: rgb(211, 209, 209);
              line-height: 2.5rem;
              &:hover{
                color: white;
                font-weight: 700;
                cursor: pointer;
              }
            }
          }
        }
      }
      .contact-us{
        width: 13%;
        ul{
          li{
            a{
              color: rgb(211, 209, 209);
              line-height: 2.5rem;
              &:hover{
                color: white;
                font-weight: 700;
                cursor: pointer;
              }
            }
          }
        }
      }
      .social{
        width: 24%;
        margin-top: .5rem;
        a{
          color: #d3d1d1;
          margin-right: 1rem;
          i{
            border: 1px solid #d3d1d1;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 1.8rem;
            text-align: center;
          }
          &:hover{
            color: $Cyan;
            i{
              border-color: $Cyan;
            }
          }
        }
      }
    }
  }
}

//Mobile Responsive - 375px

@media (max-width:375px){

.container{
  width: 375px;
  padding: 0 12px;
}

//Navbar & Hero Section

#header{
  .container{
    padding-bottom: 4rem;
    .navbar{
      margin: 2rem 0;
      .logo{
        img{
          width: 55%;
        }
      }
      .list{
        margin-right: .5rem;
        li{
          a{
            margin-right: 1rem;
            font-size: 12px;
          }
        }
      }
    }
    .main{
      text-align: center;
      img{
        width: 90%;
      }
      h1{
        width: 95%;
        font-size: 24px;
        line-height: 2.2rem;
      }
      p{
        width: 85%;
      }
    }
  }
  .curvy{
    margin-top: -25rem;
  }
  .svg-desktop{
    display: none;
  }
  .svg-mobile{
    display: block;
  }
}

// Benefit Section

#benefit{
  padding-top: 19rem;
  .container{
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6rem;
    .access, .security, .collaboration, .file{
      width: 80%;
    }
  }
}

// Stay Productive
#stay-productive{
  .container{
    flex-direction: column;
    padding: 7rem 0;
    justify-content: center;
    align-items: center;
    .illustration{
      text-align: center;
      img{
        width: 80%;
      }
    }
    .content{
      h1{
        font-size: 18px;
        width: 100%;
        text-align: center;
      }
      p{
        margin: 1rem auto;
        width: 80%;
      }
      a{
        margin-left: 2.4rem;
      }
      }
    }
  }


// Testimonials Section

#testimonials{
  .container{
    padding: 0 1.5rem 8rem;
    flex-direction: column;
    .quote{
      top: .4rem;
      left: .3rem;
      img{
        width: 7%;
      }
    }
    .testimonials{
      flex-direction: column;
      gap: 2rem;
      .testimonial{
        padding: 30px 18px 25px;
        font-size: 13px;
      }
    }
  }
}

// Call To Action

#CTA{
  padding-bottom: 5rem;
  .container{
    flex-direction: column;
    .free-access{
      margin-bottom: -15rem;
      width: 100%;
      padding: 30px 20px 25px;
      text-align: center;
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: .3);
      border-radius: 10px;
      .cta-content{
        h1{
          font-size: 20px;
        }
        p{
          padding: 0 15px;
        }
      }
      .cta-form{
        form{
          flex-direction: column;
          flex-wrap: nowrap;
          padding: 0 5px 8px;
          gap: 0.2rem;
          input{
            width: 100%;
            order: 1;
          }
          button{
            order: 3;
          }
          #error{
            order: 2;
            margin-left: 0rem;
          }
        }
      }
    }
  }
}

// Footer

footer{
  padding-top: 5rem;
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    .footer-logo{
      margin-right: 7rem;
    }
    .footer-infos{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0rem;
      text-align: left;
      .address{
        width: 80%;
        p{
          padding-left: 1.2rem;
        }
      }
      .phone-email{
        width: 80%;
        margin-bottom: 4rem;
      }
      .about-us{
        width: 80%;
        margin-bottom: 2rem;
        ul{
          li{
            a{
              line-height: 2.2rem;
            }
          }
        }
      }
      .contact-us{
        width: 80%;
        margin-bottom: 4rem;
        ul{
          li{
            a{
              line-height: 2.2rem;
            }
          }
        }
      }
      .social{
        width: 80%;
        text-align: center;
      }
    }
  }
}
}